@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.home {
  background: url(./assets/img/flamingo-home.jpg) center bottom 60% / cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home__button {
  background-color: #ffffff;
  box-shadow: 2px 2px 10px #ffffff;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  color: #ff5075;
  text-transform: uppercase;
  transition: all 0.3s;
  font-family: "Montserrat";
}

.home__button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.home__button:focus {
  outline: 0;
}

h1 {
  font-family: "Montserrat";
  color: white;
}

.home__modal {
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__title {
  color: #ff5075;
  text-transform: uppercase;
  font-family: "Montserrat";
}

.modal__button {
  color: #ff5075;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  background-color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  transition: all 0.3s;
  font-family: "Montserrat";
}

.modal__button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modal__button:focus {
  outline: 0;
}

.modal__heart {
  max-width: 300px;
}
